<div class="flex flex-col w-[40%] mx-auto">

  <div class="w-full bg-blue-800 rounded-t-md mb-4 text-center py-2">

    <span class="text-white uppercase">Student Personal Information</span>

  </div>

  <div class="border border-slate-300 border-solid rounded-b-md p-4">

    <form [formGroup]="formGroup" (ngSubmit)="AddStudent()">    
       
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Name</mat-label>            
            <input matInput type="text" formControlName="name">
            <mat-icon matSuffix><fa-icon [icon]="faUser"></fa-icon></mat-icon>
            @if(name?.hasError('required')  && (name?.touched || name?.dirty)){<mat-error>The Name is required</mat-error>} 
        </mat-form-field>    

        <mat-form-field appearance="outline" class="formField">
            <mat-label>Age</mat-label>
            <input matInput type="text" formControlName="age">
            <!-- <mat-icon matSuffix><fa-icon [icon]="faAge"></fa-icon></mat-icon> -->
            @if(age?.hasError('pattern') && (age?.touched || age?.dirty)){<mat-error>Please Insert Numbers Values</mat-error>} 
            @if(age?.hasError('required') && (age?.touched || age?.dirty)){<mat-error>The Age is required</mat-error>} 
            @if(age?.hasError('min') || age?.hasError('max') && (age?.touched || age?.dirty)){<mat-error>The Age must be between 1 and 150 years old</mat-error>}             
        </mat-form-field> 

        <div class="mt-4 w-full text-center"><!--border border-slate-300-->

          <button mat-raised-button color="primary" class="w-[30%]" [disabled]="!formGroup.valid">Create</button>
      
      </div>
    
</form>




  </div>
    

</div>
